.stuff {
    background-color: white;
    border-radius: 50px;
    padding: 50px;
    margin-left: 33%;
    margin-right: 33%;
    background: rgb(63, 71, 64);
}

.field {
    margin: 5px;
}

.word {
    color: blue;
}

#button {
    margin: 10px;
    background: rgb(211, 185, 71);    
}
