<form action="submission" method="post">
    Email Address:<br> 
    <input type="text" name="emailAddress" placeholder="Email Address" [(ngModel)]="emailAddress"><br>
    Job Position Title:<br>
    <input type="text" name="jobposition" placeholder="Job Position Title" [(ngModel)]="jobposition"><br> 
    Justification:<br>
    <input type="text" name="justification" placeholder="Justification for applying" [(ngModel)]="justification">
    <br>
    <input type="submit" (click)="postApp()"/>
</form>